/* set the font for the whole thing */
body{
	font-family: sans-serif;
}

/* centre the header text and make it a dark version of the blue used for the page */
header{
	text-align: center;
	color: hsl(197, 100%, 29%);
}

/* make the navigation flex and space it out */
nav{
	display: flex;
	justify-content: space-around;
	background-color: hsl(197, 100%, 78%);
	margin: 5px 0px 5px 0px;
}

/* make the footer the same background colour as the header */
footer{
	background-color: hsl(197, 100%, 78%);
	margin-top: 5px;
}

/* make the timeline flex with some borders and padding where necessary*/
.timeline{
	display: flex;
	margin-bottom: 5px;
}

#timeline{
	border: 1px solid hsl(197, 100%, 29%);
	padding: 5px 5px 5px 0px;
	margin-right: 5px;
}
#timeline li{
	padding: 5px;
}
/* there is a bigger gap in time before these two elements, so make a big more space between thoe bullet points */
#timeline li:nth-of-type(3){
	padding-top: 15px;
}
#timeline li:nth-of-type(5){
	padding-top: 15px;
}
#timeline-image{
	margin-right: 5px;
}
#timeline-info{
	padding: 5px;
}

/* put these in a grid so they are min 300px wide, but otherwise fill the row/column */
.games{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: repeat(auto-fit, 1fr);
	grid-gap: 2px;
}
/* make space between the text and the borders here */
.game{
	padding: 2px;
}
/* change the heading for the games to be the same colour as the overall header */
h4{
	color: hsl(197, 100%, 29%);	
}
/* set colour of each game to be alternating */
.game:nth-child(1n){
	border: 1px solid hsl(197, 100%, 50%);
}
.game:nth-child(2n){
	border: 1px solid hsl(197, 100%, 25%);
}